In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import itertools

In [3]:
df = pd.read_csv("Project 1 Dataset.txt", delimiter='\t')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 10 columns):
Notes             55 non-null object
Year              751 non-null float64
Year Code         751 non-null float64
Age Group         751 non-null object
Age Group Code    751 non-null object
Sex               751 non-null object
Sex Code          751 non-null object
Race              751 non-null object
Race Code         751 non-null object
Deaths            751 non-null float64
dtypes: float64(3), object(7)
memory usage: 63.0+ KB

In [5]:
df.head()

,Notes,Year,Year Code,Age Group,Age Group Code,Sex,Sex Code,Race,Race Code,Deaths
0,NaN,1999.0,1999.0,25-29 years,25-29,Female,F,Black or African American,2054-5,25.0
1,NaN,1999.0,1999.0,25-29 years,25-29,Female,F,White,2106-3,59.0
2,NaN,1999.0,1999.0,30-34 years,30-34,Female,F,Black or African American,2054-5,100.0
3,NaN,1999.0,1999.0,30-34 years,30-34,Female,F,White,2106-3,243.0
4,NaN,1999.0,1999.0,35-39 years,35-39,Female,F,Asian or Pacific Islander,A-PI,22.0

In [6]:
del df['Notes']

In [7]:
df.tail(55)

,Year,Year Code,Age Group,Age Group Code,Sex,Sex Code,Race,Race Code,Deaths
751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.dropna()

,Year,Year Code,Age Group,Age Group Code,Sex,Sex Code,Race,Race Code,Deaths
0,1999.0,1999.0,25-29 years,25-29,Female,F,Black or African American,2054-5,25.0
1,1999.0,1999.0,25-29 years,25-29,Female,F,White,2106-3,59.0
2,1999.0,1999.0,30-34 years,30-34,Female,F,Black or African American,2054-5,100.0
3,1999.0,1999.0,30-34 years,30-34,Female,F,White,2106-3,243.0
4,1999.0,1999.0,35-39 years,35-39,Female,F,Asian or Pacific Islander,A-PI,22.0
5,1999.0,1999.0,35-39 years,35-39,Female,F,Black or African American,2054-5,255.0
6,1999.0,1999.0,35-39 years,35-39,Female,F,White,2106-3,700.0
7,1999.0,1999.0,40-44 years,40-44,Female,F,Asian or Pacific Islander,A-PI,42.0
8,1999.0,1999.0,40-44 years,40-44,Female,F,Black or African American,2054-5,403.0
9,1999.0,1999.0,40-44 years,40-44,Female,F,White,2106-3,1293.0
10,1999.0,1999.0,45-49 years,45-49,Female,F,Asian or Pacific Islander,A-PI,78.0
11,1999.0,1999.0,45-49 years,45-49,Female,F,Black or African American,2054-5,552.0
12,1999.0,1999.0,45-49 years,45-49,Female,F,White,2106-3,1969.0
13,1999.0,1999.0,50-54 years,50-54,Female,F,American Indian or Alaska Native,1002-5,17.0
14,1999.0,1999.0,50-54 years,50-54,Female,F,Asian or Pacific Islander,A-PI,75.0
15,1999.0,1999.0,50-54 years,50-54,Female,F,Black or African American,2054-5,606.0
16,1999.0,1999.0,50-54 years,50-54,Female,F,White,2106-3,2827.0
17,1999.0,1999.0,55-59 years,55-59,Female,F,Asian or Pacific Islander,A-PI,80.0
18,1999.0,1999.0,55-59 years,55-59,Female,F,Black or African American,2054-5,575.0
19,1999.0,1999.0,55-59 years,55-59,Female,F,White,2106-3,2977.0
20,1999.0,1999.0,60-64 years,60-64,Female,F,Asian or Pacific Islander,A-PI,77.0
21,1999.0,1999.0,60-64 years,60-64,Female,F,Black or African American,2054-5,512.0
22,1999.0,1999.0,60-64 years,60-64,Female,F,White,2106-3,3080.0
23,1999.0,1999.0,65-69 years,65-69,Female,F,American Indian or Alaska Native,1002-5,17.0
24,1999.0,1999.0,65-69 years,65-69,Female,F,Asian or Pacific Islander,A-PI,56.0
25,1999.0,1999.0,65-69 years,65-69,Female,F,Black or African American,2054-5,517.0
26,1999.0,1999.0,65-69 years,65-69,Female,F,White,2106-3,3510.0
27,1999.0,1999.0,70-74 years,70-74,Female,F,American Indian or Alaska Native,1002-5,18.0
28,1999.0,1999.0,70-74 years,70-74,Female,F,Asian or Pacific Islander,A-PI,54.0
29,1999.0,1999.0,70-74 years,70-74,Female,F,Black or African American,2054-5,507.0
...,...,...,...,...,...,...,...,...,...
721,2016.0,2016.0,50-54 years,50-54,Female,F,Black or African American,2054-5,699.0
722,2016.0,2016.0,50-54 years,50-54,Female,F,White,2106-3,2254.0
723,2016.0,2016.0,55-59 years,55-59,Female,F,American Indian or Alaska Native,1002-5,18.0
724,2016.0,2016.0,55-59 years,55-59,Female,F,Asian or Pacific Islander,A-PI,176.0
725,2016.0,2016.0,55-59 years,55-59,Female,F,Black or African American,2054-5,785.0
726,2016.0,2016.0,55-59 years,55-59,Female,F,White,2106-3,3158.0
727,2016.0,2016.0,60-64 years,60-64,Female,F,American Indian or Alaska Native,1002-5,32.0
728,2016.0,2016.0,60-64 years,60-64,Female,F,Asian or Pacific Islander,A-PI,173.0
729,2016.0,2016.0,60-64 years,60-64,Female,F,Black or African American,2054-5,779.0
730,2016.0,2016.0,60-64 years,60-64,Female,F,White,2106-3,3736.0
731,2016.0,2016.0,65-69 years,65-69,Female,F,American Indian or Alaska Native,1002-5,25.0
732,2016.0,2016.0,65-69 years,65-69,Female,F,Asian or Pacific Islander,A-PI,145.0
733,2016.0,2016.0,65-69 years,65-69,Female,F,Black or African American,2054-5,784.0
734,2016.0,2016.0,65-69 years,65-69,Female,F,White,2106-3,4297.0
735,2016.0,2016.0,70-74 years,70-74,Female,F,American Indian or Alaska Native,1002-5,25.0
736,2016.0,2016.0,70-74 years,70-74,Female,F,Asian or Pacific Islander,A-PI,95.0
737,2016.0,2016.0,70-74 years,70-74,Female,F,Black or African American,2054-5,600.0
738,2016.0,2016.0,70-74 years,70-74,Female,F,White,2106-3,3920.0
739,2016.0,2016.0,75-79 years,75-79,Female,F,American Indian or Alaska Native,1002-5,22.0
740,2016.0,2016.0,75-79 years,75-79,Female,F,Asian or Pacific Islander,A-PI,85.0
741,2016.0,2016.0,75-79 years,75-79,Female,F,Black or African American,2054-5,522.0
742,2016.0,2016.0,75-79 years,75-79,Female,F,White,2106-3,3682.0
743,2016.0,2016.0,80-84 years,80-84,Female,F,American Indian or Alaska Native,1002-5,21.0
744,2016.0,2016.0,80-84 years,80-84,Female,F,Asian or Pacific Islander,A-PI,72.0
745,2016.0,2016.0,80-84 years,80-84,Female,F,Black or African American,2054-5,443.0
746,2016.0,2016.0,80-84 years,80-84,Female,F,White,2106-3,3420.0
747,2016.0,2016.0,85+ years,85+,Female,F,American Indian or Alaska Native,1002-5,23.0
748,2016.0,2016.0,85+ years,85+,Female,F,Asian or Pacific Islander,A-PI,106.0
749,2016.0,2016.0,85+ years,85+,Female,F,Black or African American,2054-5,652.0
750,2016.0,2016.0,85+ years,85+,Female,F,White,2106-3,6265.0

In [1]:
df.tail()

NameError: name 'df' is not defined

In [21]:
df.describe()

              Year    Year Code       Deaths
count   751.000000   751.000000   751.000000
mean   2007.677763  2007.677763   983.818908
std       5.206665     5.206665  1478.141080
min    1999.000000  1999.000000    16.000000
25%    2003.000000  2003.000000    60.000000
50%    2008.000000  2008.000000   305.000000
75%    2012.000000  2012.000000   792.000000
max    2016.000000  2016.000000  6322.000000

In [8]:
df.describe(include= 'object')

          Age Group Age Group Code     Sex Sex Code   Race Race Code
count           751            751     751      751    751       751
unique           13             13       1        1      4         4
top     55-59 years          55-59  Female        F  White    2106-3
freq             70             70     751      751    234       234

In [20]:
df2 = pd.df(group.describe().rename(columns={'analysis':name}).squeeze()
                for Race, group in df.groupby('Race'))

print(df2)

AttributeError: module 'pandas' has no attribute 'df'

In [24]:
df.shape

(806, 9)

In [ ]:
Sources:
https://stackoverflow.com/questions/13411544/delete-column-from-pandas-dataframe
https://www.geeksforgeeks.org/python-delete-rows-columns-from-dataframe-using-pandas-drop/

In [29]:
df[df['Race']=="White"].describe()

              Year    Year Code       Deaths
count   234.000000   234.000000   234.000000
mean   2007.500000  2007.500000  2632.871795
std       5.199249     5.199249  1711.615571
min    1999.000000  1999.000000    27.000000
25%    2003.000000  2003.000000   934.000000
50%    2007.500000  2007.500000  3197.000000
75%    2012.000000  2012.000000  3805.750000
max    2016.000000  2016.000000  6322.000000